
<div><a class="btn btn-primary" asp-action="Addproject" asp-controller="Project">Add project</a></div>
    <div><a class="btn btn-primary" asp-action="Adduser" asp-controller="User">Add User</a></div>
<div><a class="btn btn-primary"  asp-action="Add" asp-controller="UserTypeProject">Assign Project</a></div>
<div><a class="btn btn-danger" asp-action="Logout" asp-controller="User">Log out</a></div>